# make artifacts (saved as dotfiles)
.*

# do not ignore these files
!.gitignore
!.github
!.env.docker

# data files
data/
*.zip
*.gz
*.gdb
extras/channel_width/*csv
extras/discharge/*csv
extras/lookups/*csv
extras/precipitation/*csv
docs/hydro*.csv

# docker postgres volume
postgres-data

# Sphinx documentation
docs/_build/
.buildinfo