services:
  db:
    image: imresamu/postgis:17-3.5-bullseye
    shm_size: 16gb
    container_name: fwapg-db
    command: postgres -c default_statistics_target=100 -c max_connections=100 -c max_locks_per_transaction=64 -c checkpoint_timeout=30min -c maintenance_work_mem=1GB -c effective_cache_size=16GB -c work_mem=500MB -c max_wal_size=10GB -c wal_buffers=16MB -c shared_buffers=8GB
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
    ports:
      - ${DB_PORT}:5432
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 1s
      retries: 5
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=fwapg
  loader:
    build:
      context: .
    container_name: fwapg-loader
    volumes:
      - "./:/home/fwapg"
    environment:
      - PGHOST=db
      - PGPORT=5432
      - PGUSER=postgres
      - PGPASSWORD=postgres
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/fwapg
    depends_on:
      db:
        condition: service_healthy